body{
    font-famyly: Arial, sans-serif;
    background-color:rgb(214, 108, 108) f;
    color:rgb(8, 94, 134);
     text-align: center;
    padding: 50px ;
}

h1{
    color:red;
    font-size: 200%;
}